@{
    ViewData["Title"] = "Welcome Page";
    Layout = "_Layout";
}
<div class="d-flex flex-column vh-100 justify-content-start align-items-center pt-5">


    <h1 class="text-center mb-4 slide-down">
        <img src="~/Images/Picture1.png"
             alt="Agri-Energy Connect Logo"
             style="max-width:150px; height:auto;" />
    </h1>


    <h1 class="text-center mb-3 slide-down"
        style="font-size:3rem; font-weight:800; color:#00723A;">
        Agri-Energy Connect
    </h1>


    <p class="text-center mb-5"
       style="font-size:1.75rem; color:#555;">
        Farming for a better tommorow
    </p>

    <p class="text-center mb-5"
       style="font-size:1rem; color:#555;">
		Agri-Energy Connect strives to connect the agricultural sector of South Africa with
        green energy technological providers.
    </p>

    <div class="hero gap-3">
        <a asp-controller="Account" asp-action="Login"
           class="btn btn-lg text-white"
           style="background-color:#00723A; min-width:140px;">
            Login
        </a>
        <a asp-controller="Account" asp-action="Register"
           class="btn btn-lg text-white"
           style="background-color:#EC8316; min-width:140px;">
            Register
        </a>
    </div>
</div>