@model AddProductsViewModel
<h2>Add Farmer</h2>
<form asp-action="AddFarmer" method="post">
	<div asp-validation-summary="All"></div>
	<input asp-for="pName" class="form-control" placeholder="Email" />
	<input asp-for="Name" class="form-control" placeholder="First Name" />
	<input asp-for="Surname" class="form-control" placeholder="Last Name" />
	<input asp-for="Password" class="form-control" placeholder="Password" />
	<input asp-for="Confirm" class="form-control" placeholder="Confirm Password" />
	<button type="submit" class="btn btn-success mt-2">Create Farmer</button>
</form>