html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@keyframes slideDownFade {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-down {
    opacity: 0;
    animation: slideDownFade 1s ease-out forwards;
}

.hero .btn {
    transition: transform .2s ease, box-shadow .2s ease;
}

    .hero .btn:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

.btn-raise {
    transition: transform .2s ease, box-shadow .2s ease;
}

    .btn-raise:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

.nav-button-backgroun-green {
    background-color: #00723A;
}
.nav-button-backgroun-orange {
    background-color: #EC8316;
}
.nav-button-backgroun-grey {
    background-color: #545656;
}
.nav-text-white {
    color: #FFFFFF;
}
.nav-text-green {
    color: #00723A;
}
.nav-text-orange {
    color: #FF8C00;
}

.nav-thick-button {
    font-weight: 600;
}
.nav-xtra-thick-text {
    font-weight: 800;
}